[Unit]
Description=PM2 process manager for NEPSE API
Documentation=https://pm2.keymetrics.io/
After=network.target

[Service]
Type=forking
User=APP_USER_PLACEHOLDER
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
Environment=PATH=/home/APP_USER_PLACEHOLDER/.nvm/versions/node/*/bin:/usr/local/bin:/usr/bin:/bin
Environment=PM2_HOME=/home/APP_USER_PLACEHOLDER/.pm2
Environment=NVM_DIR=/home/APP_USER_PLACEHOLDER/.nvm
PIDFile=/home/APP_USER_PLACEHOLDER/.pm2/pm2.pid
ExecStartPre=/bin/bash -c 'source /home/APP_USER_PLACEHOLDER/.nvm/nvm.sh && nvm use default'
ExecStart=/bin/bash -c 'source /home/APP_USER_PLACEHOLDER/.nvm/nvm.sh && nvm use default && pm2 start APP_DIR_PLACEHOLDER/ecosystem.config.js'
ExecReload=/bin/bash -c 'source /home/APP_USER_PLACEHOLDER/.nvm/nvm.sh && nvm use default && pm2 reload APP_DIR_PLACEHOLDER/ecosystem.config.js'
ExecStop=/bin/bash -c 'source /home/APP_USER_PLACEHOLDER/.nvm/nvm.sh && nvm use default && pm2 kill'
Restart=always
RestartSec=10
KillMode=process
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
